importFrom("bioacoustica", "bioacoustica.authenticate", "bioacoustica.listTaxa", "bioacoustica.listTraits")
importFrom("dplyr", "mutate_all","funs")
importFrom("tuneR", "readWave")
importFrom("orthophonia", "frequencySpectrumAAO")
importFrom("seewave", "bwfilter")
importFrom("utils", "URLdecode")